@import '@angular/material/prebuilt-themes/indigo-pink.css';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

form{
    max-width: 700px;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.details-container{
    width: 100%;
    background: linear-gradient(to right, #ff9966, #ff5e62);
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.whole-container{
    display: flex;
    flex-direction: column;
  width: 100vw;
  height: 99vh;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  opacity: 0; /* Initially hidden */
  transform: translateY(-50px); /* Slide up initially */
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
    z-index: -1;
}

  label {
    display: block;
    margin-top: 10px;
  }

  input, textarea {
    width: 85%;
    padding: 8px;
    margin-top: 5px;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  span {
    flex: 1;
    text-align: center;
  }

  /* user-privacy-slider.component.css */
.privacy-slider {
    width: 65px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px; /* Half of the height to make it square */
    position: relative;
    cursor: pointer;
  }

  .privacy-slider.addressPrivate , .privacy-slider.upiPrivate , .privacy-slider.emailPrivate , .privacy-slider.phonePrivate , .privacy-slider.namePrivate {
    background-color: #ff6347; /* Change color for private setting */
  }

  .slider-handle {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px; /* Center the handle vertically */
    left: 1px; /* Start slightly left to give a border effect */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }

  .privacy-slider.namePrivate .slider-handle {
    transform: translateX(40px); /* Move handle to the right for private setting */
  }
  .privacy-slider.phonePrivate .slider-handle {
    transform: translateX(40px); /* Move handle to the right for private setting */
  }
  .privacy-slider.emailPrivate .slider-handle {
    transform: translateX(40px); /* Move handle to the right for private setting */
  }
  .privacy-slider.upiPrivate .slider-handle {
    transform: translateX(40px); /* Move handle to the right for private setting */
  }
  .privacy-slider.addressPrivate .slider-handle {
    transform: translateX(40px); /* Move handle to the right for private setting */
  }


  #username-privacy , #phone-privacy , #address-privacy , #upiId-privacy , #email-privacy{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
  }
