
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.whole-container{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 99vh;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  opacity: 0; /* Initially hidden */
  transform: translateY(-50px); /* Slide up initially */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.signup-container {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);;
    background: white;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
  }

  input,select {
    margin-bottom: 15px;
    padding: 8px;
    width: 86%;
  }

  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  div[hidden] {
    display: none;
  }


  /* app.component.css */
.password-input-container {
  position: relative;
}

.password-icon {
  position: relative;
  top: 16px;
  right: 25px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2em;
}

.invalid{
  color: red;
}
