<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- <div
  style="width: 100vw; height: 100vh; display: flex"
  *ngIf="isLoading | async"
>
  <app-loading-spinner
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    "
  ></app-loading-spinner>
</div>

<div *ngIf="!(isLoading | async)" class="container"> -->
<div class="whole-container" [@fadeInAnimation]="animationState">
  <button class="back-button" (click)="goBackToHome()">Back to Home</button>
  <div class="signup-container">
    <h2 style="margin-bottom: 40px">Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <label for="username">Name:</label>
      <input type="text" id="username" formControlName="username" />
      <div
        class="invalid"
        *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      >
        <div *ngIf="username!.errors!['required']">Username is required.</div>
        <!-- Add more validation messages as needed -->
      </div>

      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div
        class="invalid"
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      >
        <div *ngIf="email!.errors!['required']">Email is required.</div>
        <div *ngIf="email!.errors!['email']">Invalid email format.</div>
      </div>

      <label for="password">Password:</label>
      <!-- <input type="password" id="password" formControlName="password" /> -->
      <div class="passwordCheck">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          id="password"
          formControlName="password"
        />
        <i
          class="material-icons password-icon"
          (click)="togglePasswordVisibility()"
        >
          {{ showPassword ? "visibility" : "visibility_off" }}
        </i>
      </div>

      <div
        class="invalid"
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >
        <div *ngIf="password!.errors!['required']">Password is required.</div>
        <div *ngIf="(password?.errors)!['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>

      <!-- <label for="selectedRole">Select a Role:</label>
      <select formControlName="selectedRole">
        <option value="" disabled>Select a Role</option>
        <option value="bidder">Bidder</option>
        <option value="auctionner">Auctionner</option>
      </select>

      <div
        class="invalid"
        *ngIf="
          signupForm.get('selectedRole')?.hasError('required') &&
          signupForm.get('selectedRole')?.touched
        "
      >
        Please select a role.
      </div> -->

      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </div>
</div>
